@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-bg-color: #212b36;
  --sidebar-inactive-tab-text-color: #919EAB;
  --sidebar-active-tab-text-color: #fff;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
